<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="key1" value="C:\Users\rodrigo negao\Desktop\PROJETOS\C#\ConsoleApp1\Files"/>
      <add key="Customer1" value="C:\Users\rodrigo negao\Desktop\PROJETOS\C#\ConsoleApp1\Customer\Customers.txt"/>      
    </appSettings>
  </configuration>
